@page "/tablepaging"
<PageTitle>Table Query Paging</PageTitle>
@rendermode InteractiveServer

<!-- Additional namespaces-->
@using WestWindSystem.BLL;
@using WestWindSystem.Entities;

<h1>Shipping Query (using paging)</h1>
<cite>... non primary key filter search</cite>
<br/>
@if (feedBackMsg.Length > 0)
{
    <div class="alert alert-info">
        <p>@feedBackMsg</p>
    </div>
}

@if (errorMsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        <ul>
            @foreach (var error in errorMsgs)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<div class="row">
    <div class="col-md-3">
        <label for="yearid">Enter a year:</label>&nbsp;&nbsp;
        <input id="yearid" type="number" @bind="yeararg"
               placeholder="enter year" style="width:100px;" />
        <br/><br/>
        <label for="monthid">Enter a month:</label>&nbsp;&nbsp;
        <input id="monthid" type="number" @bind="montharg"
               placeholder="enter month" style="width:100px;" />
        <br /><br />

        <button type="submit" @onclick="GetShipments"
                class="btn btn-outline-primary rounded-pill"
                style="width:170px">
            Fetch Shipments
        </button>
    </div>
    <div class="col-md-8">
        @if (shipmentList == null)
        {
            <!-- a -->
            <p>Enter a year and month for the search</p>
        }
        else if (shipmentList.Count == 0)
        {
            <!-- b -->
            <p>No data found for the year @yeararg month @montharg.</p>
        }
        else
        {
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th>ID</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Shipper</th>
                        @* align="right" does not work on the column header*@
                        <th>Freight $</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in shipmentList)
                    {
                        <tr>
                            <td>@item.ShipmentID</td>
                            <td>@item.OrderID</td>
                            <td>@item.ShippedDate.ToString("MMM dd, yyyy")</td>
                            @* <td>@item.ShipVia</td> *@
                            @* child (shipment) is accessing the parent (shipper)
                                using the navigational property in Shippment
                               the navigational property works "like a join"
                               this allows access to the relation instance to shipment
                               thus one can access the properties of Shipper

                            *@
                            <td>@item.ShipViaNavigation.CompanyName</td>
                            <td align="right">@(string.Format("{0:#,##0.00}",item.FreightCharge))</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    
    </div>
</div>
@code {
    private string feedBackMsg = "";
    private List<string> errorMsgs = new();

    // bind variables
    private int yeararg = 0;
    private int montharg = 0;
    private List<Shipment> shipmentList = null;
    private List<Shipper> shipperList = null;

    //injected services
    [Inject]
    public ShipmentServices _shipmentServices { get; set; }

    //is required to obtain the shipper list needed by the table
    [Inject]
    public ShipperServices _shipperServices { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // default year and month
        yeararg = DateTime.Today.Year;
        montharg = DateTime.Today.Month;

        //there are two techniques to allow the use of navigational properties on your page
        //      a) bring in a dataset of the table to which you are attempting to navigate
        //      b) use the .Include method on the query itself (see Shipment query for this technique in BLL ShipmentServices)

        // Technique (a)
        // this data set is needed to handle the navigation reference used on the table data cell
        //           to display the shipper company name
        // no other coding is needed, the system will match up the dataset to the usage in the table above
        //shipperList = _shipperServices.Shipper_GetAll();
    }

    // button events
    public void GetShipments()
    {
        //clear old messages, old data
        feedBackMsg ="";
        errorMsgs.Clear();
        shipmentList = null;

        //validate incoming argment values
        //definitely valid if the user can enter data values
        //optional if the data is from a list produced by
        //  the program of a valid collection. Usually done
        //  if there is a prompt on the selection

        if (yeararg < 1950 || yeararg > DateTime.Today.Year)
        {
            errorMsgs.Add($" Invalid year {yeararg}. Year must be between 1950 and today.");
        }
        if (montharg < 1 || montharg > 12)
        {
            errorMsgs.Add($" Invalid month {montharg}. Month must be between 1 and 12.");
        }

        // continue processing query???
        if(errorMsgs.Count == 0)
        {
            //assuming data is valid
            //get the data (consume a service)

            //since we are leaving the web app for another project (app)
            //  AND that app could possibly throw an exception
            //  consumption should be placed in a try/catch
            try
            {
                //consume service
                shipmentList = _shipmentServices.Shipment_GetByYearandMonth(yeararg,montharg);
            }
            catch (Exception ex)
            {
                errorMsgs.Add($"System Error: {ex.Message}");
            }
        }
    }
}
